/*-----------------------------------------*/
/*------------BODY-------------------*/
/*-----------------------------------------*/

@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins-Bold.woff) format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins-Medium.woff) format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins-Regular.woff) format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins-SemiBold.woff) format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins-Italic.woff) format('woff');
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

*::after,
*::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: inherit;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
.link:hover,
a:hover {
  color: #ffd723;
}
.link {
  font-size: 16px;
  line-height: 18px;
  text-decoration-line: underline;
  color: #d4d6d4;
  transition: 0.9s;
}

/*-----------------------------------------*/
/*------------HEADER TOP-------------------*/
/*-----------------------------------------*/

.hero {
  background-image: url('../img/hero-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}
.hero-content {
  padding-top: 188px;
}
.header {
  position: absolute;
  top: 24px;
  left: 0;
  width: 100%;
}

header .container {
  display: flex;
  justify-content: space-between;
}

/*-----------------------------------------*/
/*---------------BURGER--------------------*/
/*-----------------------------------------*/
.burger {
  width: 40px;
  height: 40px;
  background-color: #f5f6f7;
  border-radius: 100%;
  position: relative;
}
.burger-line,
.burger-line::before,
.burger-line::after {
  position: absolute;
  background-color: black;
  height: 2px;
  width: 18px;
  top: 50%;
  margin-top: -1px;
  right: 50%;
  margin-right: -9px;
}
.burger-line::before,
.burger-line::after {
  content: '';
}
.burger-line::before {
  transform: translateY(-5px);
}
.burger-line::after {
  transform: translateY(5px);
}

/*-----------------------------------------*/
/*------------HERO------------------------*/
/*-----------------------------------------*/
.hero-content {
  max-width: 616px;
  padding-bottom: 211px;
}
.hero-subtitle {
  font-size: 14px;
  line-height: 21px;
}
.hero-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 74px;
  margin: 23px 0;
}
.hero-text {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 45px;
  margin-top: 0;
}
.hero-link {
  color: #ffd723;
}
/*----------------------------------------------------*/
/*------------deation and eval-------------------------*/
/*---------------------------------------------------*/
.deation_eval {
  margin-top: 150px;
  margin-bottom: 0px;
}
.deation_eval-subtitle {
  padding-bottom: 87px;
  margin: 0;
  max-width: 607px;
  font-weight: 700;
  font-size: 36px;
  line-height: 128%;
  color: #4d533c;
}
.deation_eval-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin: 0 30px;
}
.deation_eval-item {
  display: flex;
  flex-direction: column;
}

.deation_eval-title {
  margin: 0;
  max-width: 183px;
  font-weight: 500;
  font-size: 24px;
  line-height: 142%;
  text-transform: uppercase;
  color: #4d533c;
  padding-bottom: 20px;
}
.deation_eval-p {
  margin: 0;
  max-width: 194px;
  font-size: 14px;
  line-height: 186%;
  color: rgba(33, 56, 66, 0.6);
  padding-bottom: 20px;
}
.deation_eval-link {
  margin-bottom: 0px;
  margin-top: auto;
}

/*----------------------------------------------------*/
/*--------------------LETS MAKE-------------------------*/
/*---------------------------------------------------*/
.letsMake {
  background-color: #fafafa;
  width: 88%;
  padding: 70px 0;
  position: relative;
  top: 180px;
  box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.145947);
}
.letsMake-content {
  margin-left: 164px;
}
.letsMake-title {
  margin: 0;
  max-width: 822px;
  font-weight: 700;
  font-size: 60px;
  line-height: 123%;
  color: #4d533c;
  padding-bottom: 50px;
}

/*----------------------------------------------------*/
/*--------------------FOOTER-------------------------*/
/*---------------------------------------------------*/

.footer {
  background-image: url('../img/footer_bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 310px;
}
/*--------------------FOOTER TOP-------------------------*/
.footer-top {
  color: #b6c197;
  display: flex;
  justify-content: space-between;
  max-width: 452px;
  padding-bottom: 52px;
}
.footer-contacts-item {
  display: flex;
  flex-direction: column;
}
.footer-contacts-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  padding-bottom: 14px;
}
.footer-contacts-number {
  color: white;
}
.footer-contacts-address {
  color: white;
}
/*--------------------FOOTER MIDDLE-------------------------*/
.footer-middle {
  border-bottom: 1px solid #5d6544;
  border-top: 1px solid #5d6544;
  padding: 60px 0;
  display: flex;
  justify-content: space-between;
  color: white;
  max-width: 1111px;
}

.footer-columns {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  min-width: 677px;
  border-right: 1px solid #5d6544;
}
.footer-columns a {
  color: #b6c197;
  text-decoration: none;
  transition: 0.9s;
}
.footer-columns a:hover {
  color: #ffd723;
}
.footer-item {
  min-width: 160px;
}
.footer-item:last-child {
  padding-right: 21px;
}
.footer-title {
  font-size: 16px;
  line-height: 38px;
  text-transform: uppercase;
}
.footer-list {
  line-height: 40px;
}
.footer-column-right {
  display: flex;
  flex-direction: column;
  margin-left: 110px;
}
.footer-text {
  font-size: 16px;
  line-height: 26px;
  color: #b6c197;
  padding-top: 7px;
  padding-bottom: 23px;
}
.footer-mail {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
  color: #ffffff;
  text-decoration: none;
}
.social {
  padding-top: 10px;
}
.social li {
  display: inline-block;
}
.social-link {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-color: #d4d6d4;
  display: block;
  background-position: center;
  background-size: cover;
  transition: 0.9s;
}
.social-link:hover {
  background-color: #ffd723;
}
.social-item:not(:last-child) {
  padding-right: 10px;
}
.social-link-fb {
  background-image: url('../img/facebook.svg');
}
.social-link-tw {
  background-image: url('../img/twitter.svg');
}
.social-link-google {
  background-image: url('../img/google.svg');
}
.social-link-din {
  background-image: url('../img/linkedin.svg');
}
/*--------------------FOOTER BOTTOM-------------------------*/
.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding: 25px 0 40px 0;
}

.footer-small {
  font-size: 14px;
  line-height: 21px;
  color: #b5c096;
}
